body {
    background-image: url("../images/backgroup.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#content {
    width:90%;
    margin: auto;
    min-width: 500px;
}

#content-top {
    width:350px;
    display:block;
    margin-left: 15px;
    height: 40px;
}

#navigator {
    height:50px;
    margin-left: 55px;
}
#content-left {
    width:150px;
    margin-left:15px;
    border:medium solid;
    margin-inside: auto;
    float: left;
}
#content-right {
    float:right;
    margin-right: 15px;
    border:medium solid;
    min-width: 200px;
}
