<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <title>blog首页</title>
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/index.css' %}">
</head>
<body>
    {% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
    <li><a href="/blog/{{ question.id }}/">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
    {% else %}
    <p>No blog are available.</p>
    {% endif %}
    <div id="content">
        <div id="content-top">
            <div id="content-top-left">
                <h2 class="logen">数据库，我分享-dbishare</h2>
                <h3 class="h3_class">在分享中成长-dbishare.cn</h3>
            </div>
            <div id="content-top-right">
                <a>博客</a>
                <a>相册</a>
            </div>
        </div>

        <div id="content-left">
            <ul>MySQL</ul>
            <ul>Oracle</ul>
            <ul>PostgreSQL</ul>
        </div>

        <div id="content-right">

        </div>
        <div id="content-bottom">

        </div>
    </div>

</body>
</html>
